/* Mise en forme DRILL */
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: black;
  gap: 10px;
  height: 300px;
}

.box div {
  border: 5px solid white;
  background-color: black;
  color: white;
  padding: 12px;
}

.box div.cligne:hover, .box div.zoom:hover, .box div.bouge:hover {
  background-color: white;
  color: black;
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

.box div.zoom:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.box div.bouge:hover {
  -webkit-transform: translate(50px, 0px);
          transform: translate(50px, 0px);
}

/* Mise en forme de la reproduction*/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 3px solid #d4d4d4;
  -webkit-box-shadow: 3px 3px gray;
          box-shadow: 3px 3px gray;
  width: 400px;
  margin: auto;
  background-color: white;
}

.container .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.container .photo .topright {
  text-align: center;
  color: white;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 16px;
  border-radius: 100%;
  padding: 12px;
  background-color: #e26923;
}

.container .photo:hover img {
  -webkit-transition: height 1s, -webkit-transform 1s;
  transition: height 1s, -webkit-transform 1s;
  transition: transform 1s, height 1s;
  transition: transform 1s, height 1s, -webkit-transform 1s;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  opacity: 0.8;
}

.container .photo:hover .overlay {
  height: 50%;
}

.container .photo .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fffefe;
  width: 100%;
  height: 25%;
  -webkit-transition: height 1s;
  transition: height 1s;
}

.container .photo .overlay p {
  color: gray;
}

.container .photo .overlay h4 {
  color: #e26923;
}

.container .photo .overlay .accro {
  background-color: #e26923;
  color: white;
  width: 70px;
  height: 20px;
  -webkit-transform: translate(0px, -16px);
          transform: translate(0px, -16px);
  padding: 6px;
  margin-bottom: -20px;
}

.container .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 50px;
}

.container .foot div {
  color: gray;
  opacity: 0.9;
}
/*# sourceMappingURL=style.css.map */